<div class="driverSectionContainer">

	<br><br>

	<p>Afin que vous poussiez accéder au service, nous vous demandons de bien vouloir nous faire parvenir les document cité ci-dessous. Vous recevrez ensuite un mail de confirmation aprés analyse de vos documents.</p>

	<div ng-controller="FileUploadCtrl" class="uploadFileButton">

			<md-divider></md-divider>
			<div class="" layout="row" layout-wrap layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Carte professionnel VTC</h4>
					<input class="inputFile" type="file" id="VTCCard" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[0].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[0].file.name">{{item.queue[0].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>


			<div class="" layout="row" layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Pièce d'identité</h4>
					<input class="inputFile" type="file" id="IDCard" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[1].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[1].file.name">{{item.queue[1].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>

			<div class="" layout="row" layout-wrap layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Permis de conduire</h4>
					<input class="inputFile" type="file" id="driveCard" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[1].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[1].file.name">{{item.queue[1].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>

			<div class="" layout="row" layout-wrap layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Assurance Responsabilité Civile professionnel</h4>
					<input class="inputFile" type="file" id="civilInsurance" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[1].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[1].file.name">{{item.queue[1].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>

			<div class="" layout="row" layout-wrap layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Licence Atout France</h4>
					<input class="inputFile" type="file" id="atoutFrance" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[1].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[1].file.name">{{item.queue[1].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>

			<div class="" layout="row" layout-wrap layout-xs="column" layout-align="center" style="height: 40px;">
				<div flex="30" layout="row" layout-align="none center">
					<h4 class="">Extrait KBIS</h4>
					<input class="inputFile" type="file" id="KBIS" nv-file-select uploader="uploader"/><br/>
					<label for="file1" class="btn btn-success btn-xs"><i class="material-icons">file_upload</i></label>
				</div>
				<div flex="70" layout="row" layout-align="center center" style="height: 40px"> 
					<p ng-show="!item.queue[1].file.name">Aucun document fournis</p>	
					<p ng-show="item.queue[1].file.name">{{item.queue[1].file.name}}</p>	
				</div>
			</div>	
		<md-divider></md-divider>

		<input type="file">



		<ul>
			<li ng-repeat="item in uploader.queue">
				Name: <span ng-bind="item.file.name"></span><br/>
				<button ng-click="item.upload()">upload</button>
			</li>
		</ul>
	</div>

</div>