<div class="driverSectionContainer" ng-controller="SignUpCtrl">
    <br><br>

            <p>
                Veuillez renseigner vos informations pour de continuer. Une vérification sera faites, veillez a ce que celle-ci soient correcte.
            </p>

            <form ng-submit="submit(driverData.lastname, driverData.firstname, driverData.email)">
                <input type="text" placeholder="Nom" ng-model="driverData.lastname">
                <input type="text" placeholder="Prénom" ng-model="driverData.firstname">
                <input type="text" placeholder="Addresse email" ng-model="driverData.email">
                <button type="submit">Suivant</button>
            </form>

</div>